

body{
overflow-x: hidden;


}
.container{
  border-left: solid 2px #adadad;
  border-right: solid 2px #adadad;
  position: relative;
  left: 300px;
  width: 80vw;
  z-index: 0;

}
header{
  padding-top: 10px;
  border: solid 2px #adadad;
  padding-left: 30px;
  margin-bottom: 20px;
  position: fixed;
  top:0;
  right: 0;
  left:0;
  background-color: white;
  z-index: 1000;
}

.header-title h2{
  margin-bottom: 0px;
}

 .header-localization{
   text-align: right;
   padding-right: 30px;
   padding-bottom: 10px;

 }
.navigation{
margin-top: 100px;

}
.breadcrumb{

  border-top: solid 2px #adadad;

}
.menu{
 width: 15vw;
 position: fixed;
 margin-left: 40px;
 margin-top: 40px;
 z-index: 0;

}
.nav-pills > li > a {
  border-radius: 8px;
}

.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #B8AF3D;
}
.news-item{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-left: 15px;
}
.news-title{
 flex-basis: 53vw;
text-decoration: none;
margin-right: 3vw;
margin-bottom:20px;
 align-items: flex-start;

 }
 .news-date{
 align-self:flex-start;
  margin-right: 5vw;
 }
 .news-title a{
   display: block;
   color: black;
   align-self: flex-start;
 }
 .news-content{
   align-self:  center;
    max-width:  48vw;
    margin-right: 8vw;
 }
 .news-content p{
   margin-bottom: 30px;
 }
 .news-actions{
  align-self:   flex-end;
 }
.news-actions a{
  font-size:0.9rem;
  text-align: right;
}
.news-actions input{
  margin: 0px;
}
.news-view{
 height: auto;
}
.news-view-title{
  position:relative;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 70px;
}

.news-view-title-content{
  position:absolute;
  left:80px;
  top: 0px;
  margin-left: 50px;
    width: 700px;
    text-align: justify;
}
.news-view-date{
  position:relative;
  width: 80vw;
  margin-left: 50px;
  margin-right: 70px;
  margin-bottom: 50px;
}

.news-view-date-content{
  position:absolute;
  left:80px;
  top: 0px;
  margin-left: 50px;
  width: 700px;
  text-align: justify;
}
.news-brief{
  position:relative;
  margin-bottom: 70px;
  margin-left: 50px;
  margin-right: 70px;
}

.news-brief-content{
  position:absolute;
  left:80px;
  top: 0px;
  margin-left: 50px;
  width: 700px;
  margin-bottom: 50px;
  text-align: justify;
}
.news-view-content-title{
  position:relative;
  margin-left: 50px;
  margin-right: 70px;
  height: 300px;
}

.news-view-content{
  position:absolute;
  left:80px;
  top: 0px;
  margin-left: 50px;
  width: 700px;
  text-align: justify;
  overflow:  visible;
}
.news-view-buttons{

  position: absolute;
  right: 50px;
  bottom:50px;
}
.news-view-buttons button{
  margin-right: 20px;
}
